#result {
    font-size: xx-large;
    color: green;
    font-weight: bold;
}

#testbild {
    position: relative;
    width: 100%;
}

body {
    padding-top: 70px;
}

@media screen and (min-width: 1024px){
    #converter-panel {
        width: 50%;
    }
}

#nodejs {
    position: relative;
    height: 35px;
    margin-top: -7px;
    float: left;
    padding-right: 5px;
}
