<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Swig Converter</title>
    <link href="/css/bootstrap-3.3.4.css" rel="stylesheet" type="text/css"/>
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <script src="/js/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap-3.3.4.js" type="text/javascript"></script>
    <script type="text/javascript">$(document).ready(function () {
        $('nav').load('/navbar.html #ajax-nav');
    });</script>
    <link href="/css/prism.css" rel="stylesheet" type="text/css"/>
    <script src="/js/prism.js" type="application/javascript"></script>
    <!--<script src="js/replace-navbar.js" type="text/javascript"/>-->
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-default"></nav>
<div class="container">
    <div id="converter-panel" class="panel panel-info center-block">
        <div class="panel-heading">
            <h3 class="panel-title">Converter</h3>
        </div>
        <div class="panel-body">
            <form method="get" role="form" action="" id="convert">

                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label for="temp" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">Temperature</label>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <input type="text" class="form-control" name="temp" id="temp" placeholder="e.g. 20">
                    </div>
                    <select class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="unit" name="unit" form="convert">
                        <option value="C">&#176;C</option>
                        <option value="F">&#176;F</option>
                    </select>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button class="btn btn-primary center-block" id="btn-convert">Submit</button>
                </div>

            </form>
            <span id="result" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">{{ convertRes }}</span>
        </div>
    </div>

<div class="panel panel-success">
	  <div class="panel-heading">
			<h3 class="panel-title">Solution Source Code</h3>
	  </div>
	  <div class="panel-body">
			Here are the files of the project. They are simplified for better understanding
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">index.js <small>(server-side)</small></h3>
        </div>
        <div class="panel-footer">
              <pre><code class="language-javascript">
var express = require('express');
var app = express();
var swig = require('swig');

app.set('port', (process.env.PORT || 80));
app.use('/', express.static(__dirname + '/public'));

// Server Listener
app.listen(app.get('port'), function () {
    console.log('Node app is running on port', app.get('port'));
});


// This is where all the magic happens!
app.engine('html', swig.renderFile);

app.set('view engine', 'html');
app.set('views', __dirname + '/public/templates');

// Swig will cache templates for you, but you can disable
// that and use Express's caching instead, if you like:
app.set('view cache', false);
// To disable Swig's cache, do the following:
swig.setDefaults({ cache: false });
// NOTE: You should always cache templates in a production environment.
// Don't leave both of these to `false` in production!

app.get('/temp-convert', function (req, res) {
    var temp = req.query.temp;
    var unit = req.query.unit;

    switch (unit) {
        case &quot;C&quot;:
            var result = temp * (9 / 5) + 32;
            result = Math.round(result * 100) / 100  + &quot; &#x00b0;F&quot;;
            break;
        case &quot;F&quot;:
            var result = ( temp - 32 ) * (5 / 9);
            result = Math.round(result * 100) / 100 + &quot; &#x00b0;C&quot;;
            break;
    }

    res.render('temp-converter', { convertRes: result });
});
              </code></pre>
        </div>
    </div>

    <div class="panel panel-default">
    	  <div class="panel-heading">
    			<h3 class="panel-title">converter.html <small>(client-side)</small></h3>
    	  </div>
    	  <div class="panel-footer">
    			<pre><code class="language-markup">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head lang=&quot;en&quot;&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;Swig Converter&lt;/title&gt;
    &lt;link href=&quot;style.css&quot; type=&quot;text/css&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;script src=&quot;script.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;

&lt;form method=&quot;get&quot; role=&quot;form&quot; action=&quot;&quot; id=&quot;convert&quot;&gt;
    &lt;label for=&quot;temp&quot;&gt;Temperature&lt;/label&gt;

    &lt;input type=&quot;text&quot; class=&quot;form-control&quot; name=&quot;temp&quot; id=&quot;temp&quot; placeholder=&quot;e.g. 20&quot;&gt;

    &lt;select id=&quot;unit&quot; name=&quot;unit&quot; form=&quot;convert&quot;&gt;
        &lt;option value=&quot;C&quot;&gt;&amp;#176;C&lt;/option&gt;
        &lt;option value=&quot;F&quot;&gt;&amp;#176;F&lt;/option&gt;
    &lt;/select&gt;

    &lt;button class=&quot;btn btn-primary center-block&quot; id=&quot;btn-convert&quot; type=&quot;submit&quot; &gt;Submit&lt;/button&gt;

&lt;/form&gt;

&lt;span id=&quot;result&quot;&gt;&#123;&#123; convertRes &#125;&#125;&lt;/span&gt;

&lt;/body&gt;
&lt;/html&gt;
                </code></pre>
    	  </div>
    </div>

    <div class="panel panel-default">
    	  <div class="panel-heading">
    			<h3 class="panel-title">style.css <small>(client-side)</small></h3>
    	  </div>
    	  <div class="panel-footer">
    			<pre><code class="language-css">
#result {
    font-size: xx-large;
    color: green;
    font-weight: bold;
}
                </code></pre>
    	  </div>
    </div>

    <div class="panel panel-default">
    	  <div class="panel-heading">
    			<h3 class="panel-title">script.js <small>(client-side)</small></h3>
    	  </div>
    	  <div class="panel-footer">
    			<pre><code class="language-javascript">
/**
 * This program requires no client-side JavaScript
 */
                </code></pre>
    	  </div>
    </div>
      </div>
</div>
</div>
</body>
</html>